/** VARIABLES **/
$BG_LIGHT: rgb(237, 237, 233);
$BG_DARK: #393939;

$TEXT_GREEN: #b2ca06;
$TEXT_WHITE: #fff;

$BTN_GREEN_BG: #b2ca06;
$BTN_GREEN_HOVER_BG: #bad306;
$BTN_GREEN_TEXT: #131;

$BTN_GRAY_BG: #393939;
$BTN_GRAY_HOVER_BG: #414239;
$BTN_GRAY_TEXT: #fff;

$SCROLLBAR_GRADIENT_1: $BTN_GREEN_BG;
$SCROLLBAR_GRADIENT_2: $BTN_GREEN_HOVER_BG;

$HEADER_HEIGHT: 46px;
/** --------- **/

/** MAIN LAYOUT **/
body {
  margin: 0;
  padding: 46px 3px 0px 3px;
  width: 350px;
  background: $BG_LIGHT;
  font: 400 14px/20px 'Open Sans','Helvetica Neue',Arial,sans-serif;
  font-size: 14px;
  line-height: 20px;
}

a, a:visited {
  color: #799189;
  text-decoration: none;
}
a:hover {
  color: #575757;
}

@font-face {
  font-family: nebenan_icons;
  src: url(/fonts/nebenan.woff) format('woff');
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: Open Sans;
  src: url(/fonts/OpenSans.woff) format('woff');
  font-weight: 400;
  font-style: normal
}

.na-icon:before {
  overflow: hidden;
  font-family: nebenan_icons;
  font-style: normal;
  font-weight: 400;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
}

.hidden {
  display: none;
}

/* stop confusing MouseEvent.target */
[aria-role="button"][action] * {
  pointer-events: none;
}
/** ----------- **/

/** header **/
@import 'popup/header';
/** Login Prompt; showing when user is not logged in **/
@import 'popup/login-prompt';
/** Notification List **/
@import 'popup/custom-elements/n-list';
/** Status Elements */
@import 'popup/custom-elements/status-element'
