body {
  margin: 0;
  padding: 50px 14px 14px 14px;
  width: 300px;
  background: rgb(237, 237, 233);
  height: 500px;
  font: 400 14px/20px 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

@font-face {
  font-family: nebenan_icons;
  src: url(/fonts/nebenan.woff) format('woff');
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: Open Sans;
  src: url(/fonts/OpenSans.woff) format('woff');
  font-weight: 400;
  font-style: normal
}

.na-icon:before {
  overflow: hidden;
  font-family: nebenan_icons;
  font-style: normal;
  font-weight: 400;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.blur-container[blur] {
  filter: url(../images/blur.svg);
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #393939;
}

.header > div {
  display: inline-block;
  color: #fff;
}

.logo {
  float: none;
  color: #fff;
  cursor: pointer;
  width: 150px;
}
.logo:hover {
  color: #b2ca06;
}

.logo-icon {
  margin: 3px;
  float: left;
  width: 30px;
  height: 30px;
  font-size: 30px;
  line-height: 30px;
  vertical-align: middle;
  padding: 5px;
  border-radius: 12px;
}

.logo-icon > i.na-icon:before {
  font-size: 32px;
  content: '\e82d';
}

.logo-text {
  padding-top: 5px;
  height: 32px;
  text-shadow: 0.3px 0.6px 0.3px rgba(66, 66, 66, 0.6);
}


.logo-text > i.na-icon:before {
  content: '\e82e';
  font-size: 100px;
  line-height: 36px;
}

.status {
  float: right;
  margin-top: 6px;
  font-weight: bold;
}

.status div {
  float: left;
  text-shadow: 0.3px 0.6px 0.3px rgba(33, 33, 33, 0.3);
  padding: 8px;
}

.status div i {
  vertical-align: middle;
  font-size: 16px;
}

.status-notifications i:before {
  content: '\e807';
}
.status-messages i:before {
  content: '\e828';
}
.status-users i:before {
  content: '\e83a';
}

.login {
  position: absolute;
  z-index: 2;
  top: 150px;
  left: 104px;
  color: #fff;
  height: 120px;
  width: 120px;
}

.login i:before {
  content: '\e82d';
  font-size: 120px;
  text-shadow: 1px 1px 3px #000;
}

.login-overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  background: rgba(33, 33, 33, 0.6);
}
