/** VARIABLES **/
$BG_LIGHT: rgb(237, 237, 233);
$BG_DARK: #393939;

$TEXT_GREEN: #b2ca06;
$TEXT_WHITE: #fff;

$BTN_GREEN_BG: #b2ca06;
$BTN_GREEN_HOVER_BG: #bad306;
$BTN_GREEN_TEXT: #131;

$BTN_GRAY_BG: #393939;
$BTN_GRAY_HOVER_BG: #414239;
$BTN_GRAY_TEXT: #fff;

$SCROLLBAR_GRADIENT_1: $BTN_GREEN_BG;
$SCROLLBAR_GRADIENT_2: $BTN_GREEN_HOVER_BG;
/** --------- **/

/** MAIN LAYOUT **/
body {
  margin: 0;
  padding: 46px 3px 0px 3px;
  width: 350px;
  background: $BG_LIGHT;
  font: 400 14px/20px 'Open Sans','Helvetica Neue',Arial,sans-serif;
  font-size: 14px;
  line-height: 20px;
}

a, a:visited {
  color: #799189;
  text-decoration: none;
}
a:hover {
  color: #575757;
}

@font-face {
  font-family: nebenan_icons;
  src: url(/fonts/nebenan.woff) format('woff');
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: Open Sans;
  src: url(/fonts/OpenSans.woff) format('woff');
  font-weight: 400;
  font-style: normal
}

.na-icon:before {
  overflow: hidden;
  font-family: nebenan_icons;
  font-style: normal;
  font-weight: 400;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hidden {
  display: none;
}

/* stop confusing MouseEvent.target */
[aria-role="button"][action] * {
  pointer-events: none;
}
/** ----------- **/

/** header **/
@import 'popup/header';
/** Login Prompt; showing when user is not logged in **/
@import 'popup/login-prompt';

/** Notification List **/

.nlist-container {
  box-shadow: 0.3px 0.3px 0.3px rgba(0, 0, 0, 0.6);
}

.nlist-scrollthumb-overlay {
  position: absolute;
  top: 46px;
  right: 0;
  height: 100%;
  width: .6em;
  background: $BG_LIGHT;
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

.nlist {
  -webkit-padding-start: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  max-height: 340px;
  list-style-type: none;
  overflow-x: hidden;
  overflow-y: overlay;

  &::-webkit-scrollbar {
    width: .4em;
  }
  &::-webkit-scrollbar-track {
    background: $BG_LIGHT;
    border-radius: 3px;
  }
  &::-webkit-scrollbar-thumb {
    background: -webkit-linear-gradient(45deg, $SCROLLBAR_GRADIENT_2 0%, $SCROLLBAR_GRADIENT_1 100%);
  }
  &::-webkit-scrollbar, &::-webkit-scrollbar-thumb {
    overflow: visible;
    border-radius: 3px;
  }

  &:hover ~ .nlist-scrollthumb-overlay {
    opacity: 0;
  }

  .nlist-slot {
    margin: 7px;
    height: 55px;
    border-bottom: 1px solid #CCC;
    background: #F44336;
  }

  .nlist-item {

    height: 100%;
    padding-top: 5px;
    padding-left: 5px;
    background: $BG_LIGHT;
    box-shadow: 0.3px 0.3px 0.3px rgba(0, 0, 0, .3);

    .nlist-item-thumb {
      width: 50px;
      height: 50px;
      float: left;
      border: 1px solid #CCC;
      border-radius: 7px;
      background-image: url(../images/thumb_dummy.jpg);
      background-size: cover;
    }

    .nlist-item-preview {
      float: left;
      margin-left: 5px;
      width: 200px;
      height: 100%;

      .nlist-item-title, .nlist-item-body {
        display: block;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .nlist-item-body {
        font-size: 85%;
        line-height: 20px;
      }

    }

    .nlist-item-meta {
      float: left;
      margin-left: 20px;

      width: 50px;
      height: 50px;

      .nlist-item-type {
        font-size: 20px;

        &:before {
          content: '\e832';
        }
      }
    }
  }
}
