# dependencies
node_modules/
.sass-cache

# build chain results
app/scripts/
app/lodash.js
dist/
docs/
package/
test/.build.js

# misc dev files, e.g. dummy data .json
# logs
.api/
.devdata/
*.sublime-*
npm-debug.log
