@import 'custom-elements/status';

.header {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: $HEADER_HEIGHT;
  margin-left: auto;
  margin-right: auto;
  background: $BG_DARK;

  > div {
    display: inline-block;
    color: $TEXT_WHITE;
  }
}


.logo {
  float: none;
  color: $TEXT_WHITE;
  cursor: pointer;
  width: 150px;
}
.logo:hover {
  color: $TEXT_GREEN;
}

.logo-icon {
  margin: 3px;
  float: left;
  width: 30px;
  height: 30px;
  font-size: 30px;
  line-height: 30px;
  vertical-align: middle;
  padding: 5px;
  border-radius: 12px;

  > i.na-icon:before {
    font-size: 32px;
    content: '\e82d';
  }
}


.logo-text {
  padding-top: 5px;
  height: 32px;
  text-shadow: 0.3px 0.6px 0.3px rgba(66, 66, 66, 0.6);

  > i.na-icon:before {
    content: '\e82e';
    font-size: 100px;
    line-height: 36px;
  }
}
