$DOTS_SIZE: 20px;
$CONTAINER_HEIGHT: $DOTS_SIZE + 5px;
// height of /app/images/flowers.png
$FLOWERS_HEIGHT: 214px;

.loading-animation {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: $HEADER_HEIGHT 15% $CONTAINER_HEIGHT 10% $FLOWERS_HEIGHT;
  grid-column-gap: 7px;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .cell-spinner {
    grid-row: 3;
    grid-column: 1;
    opacity: 1;
    text-align: center;
    transition: opacity 0.3s ease-in;
  }
  .cell-flowers {
    grid-row: 5;
    grid-column: 1;
    background: url(../images/flowers.png);
    background-repeat: no-repeat;
    opacity: 1;
    transition: opacity 0.3s ease-in;
  }

  &[done] {
    .cell-flowers {
      opacity: 0.1;
    }
    .cell-spinner {
      opacity: 0;
    }
  }

  /**
   * styles from https://nebenan.de/, class names preserved
   */

  .c-loading-spinner i, .c-loading-spinner:after, .c-loading-spinner:before {
    width: $DOTS_SIZE;
    height: $DOTS_SIZE;
    display: inline-block;
    border-radius: 50%;
    background: #9c9c9c;
    -webkit-animation: 1s ease infinite pulseLoaderSize;
    -moz-animation: 1s ease infinite pulseLoaderSize;
    -o-animation: 1s ease infinite pulseLoaderSize;
    -ms-animation: 1s ease infinite pulseLoaderSize;
    animation: 1s ease infinite pulseLoaderSize;
  }
  .c-loading-spinner:after, .c-loading-spinner:before {
    content: '';
  }

  .c-loading-spinner i {
    -webkit-animation-delay: .5s;
    -moz-animation-delay: .5s;
    -o-animation-delay: .5s;
    -ms-animation-delay: .5s;
    animation-delay: .5s;
    -webkit-transform: scale(.2);
    -moz-transform: scale(.2);
    -o-transform: scale(.2);
    -ms-transform: scale(.2);
    transform: scale(.2);
  }
}

@keyframes pulseLoaderSize {
  0% {
    -webkit-transform: scale(.2);
    -moz-transform: scale(.2);
    -o-transform: scale(.2);
    -ms-transform: scale(.2);
    transform: scale(.2);
  }
  50% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(.2);
    -moz-transform: scale(.2);
    -o-transform: scale(.2);
    -ms-transform: scale(.2);
    transform: scale(.2);
  }
}
