
.login-blur[blur] {
  filter: url(../images/blur.svg);
  filter: blur(5px);
  -webkit-filter: blur(5px);
}

.login-prompt {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;

  i:before {
    content: '\e82d';
    font-size: 120px;
    text-shadow: 1px 1px 3px #000;
  }

  .btn {
    outline: 0;
    height: 40px;
    padding: 0 30px;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 40px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    border: 1px solid;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    pointer-events: auto;
    box-shadow: 1px 1px 3px #000;
  }

  .btn-green {
    background: #b2ca06;
    border-color: #b2ca06;
    color: #131;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .btn-green:hover {
    background: #bad306;
    border-color: #bad306;
  }

  .btn-gray {
    background: #393939;
    border-color: #393939;
    color: #fff;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .btn-gray:hover {
    background: #414239;
    border-color: #414239;
    color: #fff;
  }
}

.login-icon {
  color: #fff;
  margin-top: 57px;
  margin-bottom: 17px;
}

.login-overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  background: rgba(33, 33, 33, 0.6);
}
