
// type icon glyphs
@import 'n-type-icons';

.n-list-container {
  position: relative;
  left: 0;
  top: 0;
}

.n-list-scrollthumb-overlay {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: .6em;
  background: $BG_LIGHT;
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

.n-list {
  -webkit-padding-start: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  max-height: 340px;
  list-style-type: none;
  overflow-x: hidden;
  overflow-y: overlay;

  &::-webkit-scrollbar {
    width: .4em;
  }
  &::-webkit-scrollbar-track {
    background: $BG_LIGHT;
    border-radius: 3px;
  }
  &::-webkit-scrollbar-thumb {
    background: -webkit-linear-gradient(45deg, $SCROLLBAR_GRADIENT_2 0%, $SCROLLBAR_GRADIENT_1 100%);
  }
  &::-webkit-scrollbar, &::-webkit-scrollbar-thumb {
    overflow: visible;
    border-radius: 3px;
  }

  &:hover ~ .n-list-scrollthumb-overlay {
    opacity: 0;
  }

  .n-list-slot {
    position: relative;
    margin: 7px;
    height: 60px;
    width: 325px;
  }

  .n-listitem {

    position: absolute;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 5px;
    background: $BG_LIGHT;
    border: 1px solid #AAA;
    border-radius: 3px;
    box-shadow: 1px 1px 0.3px rgba(0, 0, 0, .3);

    .n-listitem-thumb {
      width: 50px;
      height: 50px;
      float: left;
      border: 1px solid #CCC;
      border-radius: 7px;
      background-image: url(../images/thumb_dummy.jpg);
      background-size: cover;
    }

    .n-listitem-preview {
      float: left;
      margin-left: 5px;
      width: 240px;
      height: 100%;

      .n-listitem-type {
        font-size: 20px;
        float: left;
      }

      .n-listitem-title, .n-listitem-body {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .n-listitem-title {
        width: 210px;
        margin-left: 10px;
        float: left;
      }

      .n-listitem-body {
        width: 100%;
        font-size: 85%;
        line-height: 20px;
      }

    }

    .n-listitem-dismiss {
      position: absolute;
      top: 0px;
      right: 0px;
      width: 10px;
      height: 10px;
      cursor: pointer;

      /* TODO: nebenan.woff includes a cross glyph! */
      .cw, .ccw {
        position: absolute;
        width: 100%;
        height: 2px;
        background: $BG_DARK;
      }
      .cw {
        transform: translate(-1px,5px) rotateZ(45deg);
      }
      .ccw {
        transform: translate(-1px,5px) rotateZ(-45deg);
      }
    }

  }
}
