nav {
  grid-area: status;
  justify-self: right;
  float: right;
  margin-top: 6px;
  font-weight: bold;

  .nav-select-slider {
    position: relative;
    top: 37px;
    left: 0;
    width: 30%;
    border-bottom: 4px solid $TEXT_GREEN;
    transition: all 0.3s ease-out;
  }
}
